@model ProfileMatching.Models.ViewModels.UserViewModel

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="main-body">
        <h1 style="
    padding-top: 36px;
    padding-bottom: 36px;
   
">Account details</h1>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Model.imagePath" alt="Admin" class="img-fluid img-thumbnail p-1" width="550">
                            <div class="mt-3">
                                <h4>@Model.Name @Model.Lastname</h4>
                                <p class="text-secondary mb-1">@Model.Gender</p>
                                <p class="text-muted font-size-sm">@Model.Age y</p>
                            </div>
                        </div>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form method="post" asp-controller="Home" asp-action="Account" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label asp-for="Fullname"></label>
                                    <input asp-for="@Model.Fullname" name="fullname" id="fullname" type="text" class="form-control" required value="@Model.Name @Model.Lastname">
                                    <span asp-validation-for="Fullname"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" asp-for="@Model.Email" required name="email" id="email" class="form-control" value="@Model.Email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Type</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input typeRadioButtons" onload="SetChecked(this)" type="radio" name="typeOptions" id="normalRadio" value="normal">
                                        <label class="form-check-label" for="normalRadio">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input typeRadioButtons" onload="SetChecked(this)" type="radio" name="typeOptions" id="businessmanRadio" value="business">
                                        <label class="form-check-label" for="businessmanRadio">Business</label>
                                    </div>
                                    <input type="text" asp-for="Type" name="type" value="@Model.Type" id="typeInput" hidden>
                                    <span asp-validation-for="Type"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Age" name="age" id="age" type="text" class="form-control" value="@Model.Age">
                                    <span asp-validation-for="Age"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Height</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Height" type="text" class="form-control" value="@Model.Height">
                                    <span asp-validation-for="Height"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bio</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Bio" type="text" class="form-control" value="@Model.Bio">
                                    <span asp-validation-for="Bio"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile Picture</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Image" name="Image" type="file" id="file-input" class="form-control" accept="image/*">
                                    <img id="preview" src="#" alt="Image Preview" style="display: none;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" id="submitUpdate" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script>let normal = document.getElementById('normalRadio');
    let typeValue = document.getElementById('typeInput').value;

    if (typeValue === 'normal') {
        normal.checked = true;
    }
    else if (typeValue === 'business') {
        document.getElementById('businessmanRadio').checked = true;
    }

    let submit = document.getElementById('submitUpdate');
    submit.addEventListener('click', () => {
        let typeInput = document.getElementById('typeInput');
        let radioButtons = document.getElementsByClassName('typeRadioButtons');

        for (let i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                typeInput.value = radioButtons[i].value;
                console.log(radioButtons[i].value)
            }
        }
    })

    const fileInput = document.querySelector('#file-input');
    const preview = document.querySelector('#preview');

    fileInput.addEventListener('change', function () {
        const file = this.files[0];
        const reader = new FileReader();

        reader.addEventListener('load', function () {
            preview.src = reader.result;
            preview.style = "display: block;height: 560;margin-top: 30px;border: black 2px;border-style: solid;"
        });

        reader.readAsDataURL(file);
    });</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>